Codes/Parsers/Web References/CongestionService/IAI_CongestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="getTrafficInfoResponse">
    <wsdl:part name="getTrafficInfoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="initializeRequest">
    <wsdl:part name="agencyName" type="xsd:string" />
    <wsdl:part name="serviceName" type="xsd:string" />
    <wsdl:part name="configFile" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="getTrafficInfoRequest">
    <wsdl:part name="userName" type="xsd:string" />
    <wsdl:part name="userPass" type="xsd:string" />
    <wsdl:part name="xmlMessageRequest" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="initializeResponse" />
  <wsdl:message name="refreshUsersRequest">
    <wsdl:part name="usr" type="xsd:string" />
    <wsdl:part name="pwd" type="xsd:string" />
    <wsdl:part name="agency" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="refreshUsersResponse" />
  <wsdl:portType name="CongestionService">
    <wsdl:operation name="initialize" parameterOrder="agencyName serviceName configFile">
      <wsdl:input name="initializeRequest" message="impl:initializeRequest" />
      <wsdl:output name="initializeResponse" message="impl:initializeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTrafficInfo" parameterOrder="userName userPass xmlMessageRequest">
      <wsdl:input name="getTrafficInfoRequest" message="impl:getTrafficInfoRequest" />
      <wsdl:output name="getTrafficInfoResponse" message="impl:getTrafficInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="refreshUsers" parameterOrder="usr pwd agency">
      <wsdl:input name="refreshUsersRequest" message="impl:refreshUsersRequest" />
      <wsdl:output name="refreshUsersResponse" message="impl:refreshUsersResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IAI_CongestionServiceSoapBinding" type="impl:CongestionService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="initialize">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="initializeRequest">
        <wsdlsoap:body use="encoded" namespace="http://external.regional.services.nateng.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="initializeResponse">
        <wsdlsoap:body use="encoded" namespace="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrafficInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTrafficInfoRequest">
        <wsdlsoap:body use="encoded" namespace="http://external.regional.services.nateng.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getTrafficInfoResponse">
        <wsdlsoap:body use="encoded" namespace="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshUsers">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="refreshUsersRequest">
        <wsdlsoap:body use="encoded" namespace="http://services.nateng.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="refreshUsersResponse">
        <wsdlsoap:body use="encoded" namespace="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CongestionServiceService">
    <wsdl:port name="IAI_CongestionService" binding="impl:IAI_CongestionServiceSoapBinding">
      <wsdlsoap:address location="http://rtsiai01.riits.net/IAI/services/IAI_CongestionService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>